* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans";
}

body {
    background: white;
    height: 10000px;
}

textarea,
input,
button {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

:root {
    --heading-color: #212832;
    --content-color: #696d76;
    --section-label-color: #696d77;
}

a {
    text-decoration: none;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
}

.section-desc {
    color: var(--content-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.section-label,
.content-desc {
    color: var(--section-label-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    display: flex;
    align-items: center;
    gap: 12px;
}

.section-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--section-label-color);
}

.btn {
    --btn-height: 58px;
    display: inline-block;
    text-align: center;
    padding: 0 18px;
    min-width: 149px;
    border-radius: 6px;
    background: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--btn-height);
    color: white;
}

/* ---------------------------- Header ----------------------- */
/* Header top */
.header__top {
    padding: 42px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    /* gap: 48px; */
}

.navbar__link {
    padding: 4px 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--content-color);
}

.navbar__link:hover {
    text-shadow: 1px 0 0 var(--heading-color);
}

.navbar__link--active {
    position: relative;
    color: var(--heading-color);
}

.navbar__link--active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 47px;
    height: 1px;
    display: inline-block;
    content: "";
    border-radius: 0.5px;
    background: #7264d6;
}

.actions {
    display: flex;
    align-items: center;
    gap: 12.28px;
}

.log-in {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75l;
}

.sign-up {
    min-width: 113px;
    --btn-height: 52px;
}

/* ----------------------------- Hero -------------------------- */
/* Hero content */
.hero {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.hero__heading {
    font-size: 6rem;
    width: 500px;
    margin-top: 12px;
}

.hero__heading--strong {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    width: 540px;
}

.form {
    margin-top: 40px;
}

.form-email {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    height: inherit;
    width: 90%;
    padding: 23px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    border: none;
}

.form-input:focus {
    outline: none;
}

.form-submit {
    background: #7264d6;
    border: none;
    outline: none;
    margin-right: 8px;
    cursor: pointer;
}

.form-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero media */
.hero__media {
    position: relative;
    display: flex;
}

/* Mobile */
.mobile {
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    position: relative;
    z-index: 2;
    padding: 52px 11px 30px;
}

.mobile__top {
    position: absolute;
    width: 144px;
    height: 36px;
    border-radius: 0 0 18px 18px;
    background: #3c2f60;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.debit-card {
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 16px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
}

.debit-card::before {
    content: url(../icon/debit-card-decor-1.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.debit-card::after {
    content: url(../icon/debit-card-decor-2.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.debit-card__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.debit-card__label {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.debit-card__balance {
    margin-top: 2px;
    display: block;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}

.debit-card__info {
    margin-top: 32px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
}

.debit-card__valid-thur,
.debit-card__holder {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.debit-card__valid-date,
.debit-card__name {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.mobile__row {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile__title {
    color: #31456a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mobile__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.mobile__filter-icon {
    border-radius: 26px;
    height: 2px;
    background: #31456a;
}

.mobile__filter-icon--long {
    width: 14px;
}

.mobile__filter-icon--medium {
    width: 8px;
}

.mobile__filter-icon--short {
    width: 4px;
}

.mobile__transaction {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.mobile__notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(74, 181, 227, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__notification:nth-child(2) .mobile__icon-wrap {
    background: rgb(218, 100, 100, 0.1);
}

.mobile__notification:nth-child(3) .mobile__icon-wrap {
    background: rgb(67, 159, 144, 0.1);
}

.mobile__notification:nth-child(4) .mobile__icon-wrap {
    background: rgb(114, 100, 214, 0.1);
}

.mobile__notification-info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.mobile__trans-title,
.mobile__fluctuation {
    color: #212832;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

.mobile__trans-email,
.mobile__trans-date {
    color: #696d76;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.mobile__trans-date {
    text-align: right;
}

.mobile__trans-date,
.mobile__trans-email {
    margin-top: 6px;
}

.hero__media-interest {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
    margin-top: 127px;
}

.hero__media-interest-content {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero__media-percentage {
    display: block;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__media-deposit {
    display: flex;
    z-index: 4;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 113px;
    left: -100px;
    padding: 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero__media-depo-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__media-depo-text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__media-money {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero__media-secured {
    width: 124px;
    border-radius: 10px;
    background: #439f90;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 11px;
    position: absolute;
    bottom: 61px;
    right: 100px;
    z-index: 3;
}

.hero__media-secured-money {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__media-secured-label {
    display: block;
    margin-top: 5px;
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
}

/* ------------------------------------- Feature ----------------------------------- */
.feature {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Feature media */
.feature__media {
    position: relative;
}

.feature__img-wrap {
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.feature__img-wrap::after {
    content: url(../img/feature-img-wrap.png);
    display: block;
    height: inherit;
    position: absolute;
    z-index: -1;
}

.feature__img {
    object-fit: cover;
    width: 456px;
    position: relative;
    bottom: 2px;
}

.feature__logo-wrap {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 76px;
    right: 62px;
}

.feature__logo-wrap::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
    position: absolute;
}

.feature__logo {
    position: relative;
    z-index: 3;
}

.feature__noti-card {
    position: absolute;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    bottom: 96px;
    right: -100px;
    display: flex;
    gap: 10px;
}

.feature__success-icon {
    position: relative;
    z-index: 3;
}

.feature__success-icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__success-icon-wrap::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
}

.feature__noti-title {
    display: block;
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feautre__success-desc {
    display: block;
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

/* Feature content */
.feature__heading {
    margin-top: 12px;
}

.feature__list {
    margin-top: 70px;
}

.feature__title {
    margin-top: 28px;
    width: 470px;
    color: #212832;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.45;
}

.feature__desc {
    margin-top: 16px;
    width: 470px;
    font-size: 1.6rem;
    color: #696d76;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

/* ------------------------------- Payment -------------------------- */
.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.payment__heading {
    margin-top: 12px;
    width: 470px;
}

.payment__desc {
    margin-top: 20px;
    width: 470px;
}

.payment__list {
    margin-top: 28px;
}

.payment__type {
    color: #212832;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    align-items: center;
    gap: 12px;
}

.payment__type {
    margin-top: 18px;
}

.payment__type::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.payment__btn {
    margin-top: 38px;
}

/* Payment media */
.payment__media {
    margin-right: 88px;
    position: relative;
}

/* Big Debit Card */
.debit-card--big {
    width: 482px;
    height: 322px;
    padding: 38px;
}

.debit-card--big::before {
    content: url(../icon/debit-card-big-decor-1.svg);
}

.debit-card--big::after {
    content: url(../icon/debit-card-big-decor-2.svg);
}

.debit-card__label--big {
    font-size: 2.4rem;
}

.debit-card__balance--big {
    margin-top: 10px;
    font-size: 3.2rem;
    font-weight: 700;
}

.debit-card__mastercard--big {
    width: 80px;
}

.debit-card__info--big {
    margin-top: 98px;
}

.debit-card__valid-thur--big,
.debit-card__holder--big {
    font-size: 2rem;
}

.debit-card__valid-date--big,
.debit-card__name--big {
    font-size: 2.2rem;
    margin-top: 4px;
}

/* Card */
.payment__send-card {
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -48px;
    right: -88px;
    z-index: 3;
}

.payment__send-info {
    display: flex;
    gap: 14px;
    align-items: center;
}

.payment__send-icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(218, 100, 100, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__send-title {
    display: block;
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
}

.payment__send-type,
.payment__send-date {
    display: block;
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 4px;
}

.payment__send-desc {
    flex: 1;
    text-align: right;
}

.payment__send-fluctuate {
    color: #212832;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
}

.payment__income-card {
    position: absolute;
    bottom: -55px;
    right: -88px;
    z-index: 3;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
}

.payment__income-wrap-icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__income-icon {
    filter: brightness(0) saturate(100%) invert(55%) sepia(58%) saturate(384%)
        hue-rotate(121deg) brightness(89%) contrast(83%);
}

.payment__income-title {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
}

.paymemt__income-money {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}

/* --------------------------------- Wallet ----------------------------- */
.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

/* Wallet Media */

.wallet__media {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.wallet__box {
    position: relative;
}

.wallet__img-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin: 0 28px;
}

.wallet__img-bg {
    position: absolute;
    z-index: -1;
}

.wallet__img {
    width: 413px;
}

.wallet__method-box {
    padding: 28px;
    background: white;
    width: 281px;
    border-radius: 10px;
    box-shadow: 0 44px 48px rgba(0, 0, 0, 0.18);
    position: absolute;
    bottom: 57px;
    right: -74px;
}

.wallet__method-title {
    color: #212832;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}

.wallet__logo-row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 18px;
    margin-top: 20px;
}

.wallet__payment-wrap {
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet__method-add {
    font-size: 3rem;
    color: #212832;
}

.wallet__payment-wrap:hover {
    background: #f9ea63;
}

.wallet__money-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7264d6;
    position: relative;
    z-index: 3;
    margin: 288px 0 0 10px;
    padding: 33px 24px;
    width: 90px;
    border-radius: 50%;
}

/* Wallet Content */
.wallet__heading {
    margin-top: 12px;
    width: 470px;
}

.wallet__desc {
    margin-top: 20px;
    width: 470px;
}

.wallet__list {
    margin-top: 28px;
}

.wallet__item {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.wallet__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.wallet__btn {
    margin-top: 36px;
}

/* --------------------------------------- Testimonial --------------------------------- */
.testimonial {
    margin-top: 160px;
}

.testimonial__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__heading {
    text-align: center;
    margin-top: 12px;
}

.testimonial__desc {
    text-align: center;
    width: 435px;
    margin-top: 18px;
}

.testimonial__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.testimonial__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial__box-chat {
    background: white;
    width: 570px;
    padding: 42px 28px;
    position: relative;
    filter: drop-shadow(0 0 1px #696d76);
    margin-bottom: 80px;
}

.testimonial__box-chat::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -160px;
    border: 80px solid;
    border-color: white transparent transparent;
}

.testimonial__box-text {
    background: transparent;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.testimonial__reviewer-info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial__avt-bg {
    width: 104px;
    height: 104px;
    border-radius: 52px;
    background: #4ab5e3;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.testimonial__item:last-child .testimonial__avt-bg {
    background: #439f90;
}

.testimonial__avt {
    width: 100%;
    object-fit: cover;
}

.testimonial__name {
    margin-top: 20px;
    color: #070052;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38;
}

.testimonial__personal-job {
    margin-top: 2px;
}

.testimonial__bottom {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.testimonial__tab {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.testimonial__tab:hover {
    background: #7264d6;
    border-color: #7264d6;
}

.testimonial__tab:first-child {
    background: #7264d6;
    border-color: #7264d6;
}
